<tr> 
  <td><Strong><%= domain_item.base_domain %> </strong></td>
  <td style="text-align:right">
    <% if domain_item.confirmed? %>
	<%= link_to "Setup Instructions", instructions_path(domain_item), class: "btn", title: 'Instructions'%>
	<%= link_to "View Feedback", domain_item, class: "btn btn-primary", title: 'View Feedback'%>
    <% else %>
        <%= link_to "Confirm Ownership", domain_item, method: :put, class: "btn", title: domain_item.base_domain %>
        <%= link_to "x", domain_item, method: :delete, class: 'btn btn-danger',
                                     title: domain_item.base_domain %>
    <% end %>
  </td>
</tr>
