<h1><%= @domain.base_domain %> feedback</h1>
<table class="table">
  <tr>
    <th>Type</th>
    <th>Message</th>
    <th>Email?</th>
    <th>Facebook ID?</th>
    <th>IP address</th>
    <th>When?</th>
    <th>Action</th>
  </tr>
	<% @domain.feedbacks.each do |f| %>
  <tbody>
  <TR>
    <TD><%= f.feedback_type %></TD>
    <TD><%= f.message %></TD>
    <TD><%= f.email %></TD>
    <TD><%= f.fbid %></TD>
    <TD><%= f.client_ip %></TD>
    <TD title="<%=f.created_at%>"><%= time_ago_in_words( f.created_at ) %> ago</TD>
    <TD><%= link_to "x", f, method: :delete, class: 'btn btn-small' %></TD>
  </TR>
	<% end %>
</table>
