<h1><%= @domain.base_domain %> feedback</h1>
<table class="table">
  <tr>
    <th>Type</th>
    <th>Message</th>
    <th>Email?</th>
    <th>Facebook ID?</th>
    <th>IP address</th>
  </tr>
	<% @domain.feedbacks.each do |f| %>
  <tbody>
  <TR>
    <TD><%= f.feedback_type %></TD>
    <TD><%= f.message %></TD>
    <TD><%= f.email %></TD>
    <TD><%= f.fbid %></TD>
    <TD><%= f.client_ip %></TD>
  </TR>
	<% end %>
</table>
